# ================================================================
# ALIASES
# ================================================================

# Push and pop directories on directory stack
alias pu='pushd'
alias po='popd'

# Basic directory operations
alias ...='cd ../..'
alias -- -='cd -'

# Super user
alias _='sudo'
alias please='sudo'

# alias g='grep -in'

# Show history
if [ "$HIST_STAMPS" = "mm/dd/yyyy" ]
then
    alias history='fc -fl 1'
elif [ "$HIST_STAMPS" = "dd.mm.yyyy" ]
then
    alias history='fc -El 1'
elif [ "$HIST_STAMPS" = "yyyy-mm-dd" ]
then
    alias history='fc -il 1'
else
    alias history='fc -l 1'
fi

# List direcory contents
alias lsa='ls -lah'
alias l='ls -lah'
alias ll='ls -lh'
alias la='ls -lAh'
alias sl=ls # often screw this up

alias afind='ack-grep -il'

# bundle/berks stuff
alias be='bundle exec'
alias bi='bundle install'
alias bu='bundle update'
alias bki='berks install'
alias bkud='berks update'
alias bkul='berks upload'

# Other
alias C='clear'
alias home='cd ~'
alias path='echo $PATH'

# open some apps
alias chrome="open -a google\ chrome"
alias chromium="open -a chromium"

alias passhelp="open -a google\ chrome http://git.zx2c4.com/password-store/about/"
alias passtricks="open -a google\ chrome https://gist.github.com/byronmansfield/7757507cde32df6240af"
alias gittricks="open -a google\ chrome https://gist.github.com/byronmansfield/abcfb7641cd02b96d61d"
alias vimtricks="open -a google\ chrome https://gist.github.com/byronmansfield/a33de96c0ec764db1e42"
alias tmuxtricks="open -a google\ chrome https://gist.github.com/byronmansfield/f68e2ba0763cc410068b"
alias archtricks="open -a google\ chrome https://gist.github.com/byronmansfield/5d1c34fca6834e0a3fe7"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

## Zsh Stuff
alias eZ='vim ~/.zshrc'
alias eOMZ='vim ~/.oh-my-zsh/themes/msjche.zsh-theme'
alias Z='source ~/.zshrc'
alias eL='vim ~/.zlogin'
alias L='source ~/.zlogin'

## Vim Stuff
alias eV='vim ~/.vimrc'
alias e='vim'
alias V='source ~/.vimrc'

## Tmux
alias tmux='tmux -2'
alias eT='vim ~/.tmux.conf'

## Aliases
alias eA='vim ~/.aliases'
alias A='source ~/.aliases'

## Functions
alias eF='vim ~/.functions'
alias F='source ~/.functions'

## Git

# The current branch name
# Usage example: git pull origin $(current_branch)
# Using '--quiet' with 'symbolic-ref' will not cause a fatal error (128) if
# it's not a symbolic ref, but in a Git repo.
function current_branch() {
  local ref
  ref=$($_omz_git_git_cmd symbolic-ref --quiet HEAD 2> /dev/null)
  local ret=$?
  if [[ $ret != 0 ]]; then
    [[ $ret == 128 ]] && return  # no git repo.
    ref=$($_omz_git_git_cmd rev-parse --short HEAD 2> /dev/null) || return
  fi
  echo ${ref#refs/heads/}
}

alias g='git'
alias add='git add'
alias addall='git add --all'
alias branch='git branch'
alias gba='git branch -a'
alias gitremote='git branch --remote'
alias gco='git checkout'
alias gd='git diff'
alias fetch='git fetch'
alias setup='git branch --set-upstream-to=origin/$(current_branch)'
alias pull='git pull'
alias push='git push origin $(current_branch)'
alias fnp='git fetch && git pull'
alias reset='git reset HEAD'
alias resethard='git reset HEAD --hard'
alias status='git status'
alias stash='git stash'
alias stashapply='git stash apply'
alias dropstash='git stash drop'
alias liststash='git stash list'
alias stashpop='git stash pop'
alias subupdate='git submodule update'
alias tag='git tag -a -m'
alias pushtags='git push --tags'
alias deletetag='git tag -d'
alias pushdeletedtag='push origin :refs/tags/'

#-------------------- [ DB Projects ] --------------------#

# cd's
alias workcode='cd $CODESPACE/demandbase'
alias perfmanhome='cd $WORKSPACE/perfman'
alias apihome='cd $WORKSPACE/dashboard-api'
alias chefhome='cd $WORKSPACE/chef-repo'
alias cbooks='cd $WORKSPACE/chef-repo/cookbooks'
alias tform='cd $WORKSPACE/terraform'
alias personalcode='cd $CODESPACE/personal'
alias practicecode='cd $CODESPACE/practice'

# aws
alias search_instances="ruby $HOME/code/demandbase/aws-scripts/search_instances.rb"

# perfman
alias perfmanstage='ENV=staging API_URL=https://dashboard-api.staging.demandbase.com AUTH_URL=https://auth.staging.demandbase.co GD_API=https://bi.demandbase.com grunt serve:staging'
alias perfmantest='ENV=staging API_URL=https://dashboard-api.staging.demandbase.com AUTH_URL=https://auth.staging.demandbase.co GD_API=https://bi.demandbase.com grunt test:spec'

# dashboard api
alias apiup='ENV=dev bundle exec rackup'

# knife
alias ksearch='knife search'
alias klogin='knife ssh'

# alias tmux to use 256 color
alias tmux="TERM=screen-256color-bce tmux"

# copy lastpass master password to clipboard because i'm lazy
alias lp="pbcopy > ~/.lastpass"
alias lastpass="pbcopy > ~/.lastpass"
