# ================================================================
# ALIASES
# ================================================================

# Push and pop directories on directory stack
alias pu='pushd'
alias po='popd'

# Basic directory operations
alias ...='cd ../..'
alias -- -='cd -'

# Super user
alias _='sudo'
alias please='sudo'
alias oops='sudo !!'

# make files executable
alias ax='chmod a+x'

# alias g='grep -in'

# Show history
if [ "$HIST_STAMPS" = "mm/dd/yyyy" ]
then
    alias history='fc -fl 1'
elif [ "$HIST_STAMPS" = "dd.mm.yyyy" ]
then
    alias history='fc -El 1'
elif [ "$HIST_STAMPS" = "yyyy-mm-dd" ]
then
    alias history='fc -il 1'
else
    alias history='fc -l 1'
fi

# List direcory contents
alias lsa='ls -lah'
alias l='ls -lah'
alias ll='ls -lh'
alias la='ls -lAh'
alias sl=ls # often screw this up
alias return='cd "$OLDPWD"'

alias afind='ack-grep -il'

# bundle stuff
alias be='bundle exec'
alias bi='bundle install'
alias bu='bundle update'

# Other
alias C='clear'
alias home='cd ~'
alias path='echo $PATH'

# open some apps
alias chrome="open -a google\ chrome"
alias chromium="open -a chromium"

alias passhelp="open -a google\ chrome http://git.zx2c4.com/password-store/about/"
alias passtricks="open -a google\ chrome https://gist.github.com/byronmansfield/7757507cde32df6240af"
alias gittricks="open -a google\ chrome https://gist.github.com/byronmansfield/abcfb7641cd02b96d61d"
alias vimtricks="open -a google\ chrome https://gist.github.com/byronmansfield/a33de96c0ec764db1e42"
alias tmuxtricks="open -a google\ chrome https://gist.github.com/byronmansfield/f68e2ba0763cc410068b"
alias archtricks="open -a google\ chrome https://gist.github.com/byronmansfield/5d1c34fca6834e0a3fe7"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

## Zsh Stuff
alias eZ="vim ${HOME}/.zshrc"
alias eOMZ="vim ${HOME}/.oh-my-zsh/themes/msjche.zsh-theme"
alias Z="source ${HOME}/.zshrc"
alias eL="vim ${HOME}/.zlogin"
alias L="source ${HOME}/.zlogin"

## Vim Stuff
alias eV="vim ${HOME}/.vim/vimrc"
alias e="vim"
alias V="source ${HOME}/.vim/vimrc"

## Tmux
alias tmux="tmux -2"
alias eT="vim ${HOME}/.tmux.conf"

## Aliases
alias eA="vim ${HOME}/.aliases"
alias A="source ${HOME}/.aliases"

## Functions
alias eF="vim ${HOME}/.functions"
alias F="source ${HOME}/.functions"

#########
## Git ##
#########

# The current branch name
# Usage example: git pull origin $(current_branch)
# Using '--quiet' with 'symbolic-ref' will not cause a fatal error (128) if
# it's not a symbolic ref, but in a Git repo.
function current_branch() {
  local ref
  ref=$($_omz_git_git_cmd symbolic-ref --quiet HEAD 2> /dev/null)
  local ret=$?
  if [[ $ret != 0 ]]; then
    [[ $ret == 128 ]] && return  # no git repo.
    ref=$($_omz_git_git_cmd rev-parse --short HEAD 2> /dev/null) || return
  fi
  echo ${ref#refs/heads/}
}

alias g='git'
alias add='git add'
alias addall='git add --all'
alias commit='git commit -m'
alias branch='git branch'
alias rebase='git rebase'
alias gba='git branch -a'
alias gitremote='git branch --remote'
alias gbr='git branch --remote'
alias gco='git checkout'
alias gd='git diff'
alias fetch='git fetch'
alias setup='git branch --set-upstream-to=origin/$(current_branch)'
alias pull='git pull'
alias push='git push origin $(current_branch)'
alias fnp='git fetch && git pull'
alias reset='git reset HEAD'
alias resethard='git reset --hard'
alias resethh='git reset HEAD --hard'
alias status='git status'
alias stash='git stash'
alias stashapply='git stash apply'
alias dropstash='git stash drop'
alias liststash='git stash list'
alias stashpop='git stash pop'
alias subupdate='git submodule update'
alias tag='git tag -a -m'
alias pushtags='git push --tags'
alias deletetag='git tag -d'
alias pushdeletedtag='push origin :refs/tags/'

#-------------------- [ Docker ] --------------------#

alias dkr='docker'
alias imgs='docker images'
alias images='docker images'
alias containers='docker ps -a'
alias dps='docker ps'
alias dpsa='docker ps -a'
alias container='docker run -it --rm --entrypoint /bin/bash trusty'
alias cleanimages='docker rmi -f $(docker images | grep "^<none>" | awk "{print $3}")'
alias clnimgs='docker rmi -f $(docker images | grep "^<none>" | awk "{print $3}")'
alias rmimgs='docker rmi -f $(docker images | grep "^<none>" | awk "{print $3}")'
alias rmi='docker rmi -f $(docker images | grep "^<none>" | awk "{print $3}")'
alias cleancontainers='docker rm $(docker ps -a | grep "days ago" | awk '"'"'{print $1}'"'"')'
alias clncntrs='docker rm $(docker ps -a | grep "days ago" | awk '"'"'{print $1}'"'"')'
alias rmcntrs='docker rm $(docker ps -a | grep "days ago" | awk '"'"'{print $1}'"'"')'
alias cadvisor='sudo docker run --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=8080:8080 --detach=true --name=cadvisor google/cadvisor:latest'
alias cadvsr='sudo docker run --volume=/:/rootfs:ro --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=8080:8080 --detach=true --name=cadvisor google/cadvisor:latest'

# browser containers
alias ffctnr='docker run -it -v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY=$(ifconfig en0 | grep inet | awk '"'"'$1=="inet" {print $2}'"'"'):0 --privileged jess/firefox'
alias chromectnr='docker run -it -v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY=$(ifconfig en0 | grep inet | awk '"'"'$1=="inet" {print $2}'"'"'):0 --privileged jess/chrome'
alias torctnr='docker run -it -v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY=$(ifconfig en0 | grep inet | awk '"'"'$1=="inet" {print $2}'"'"'):0 --privileged jess/tor-browser'

# cd's
alias up1='cd ..'
alias up2='cd ../..'
alias up3='cd ../../..'
alias personalcode='cd $CODESPACE/personal'
alias practicecode='cd $CODESPACE/practice'

# alias tmux to use 256 color
alias tmux="TERM=screen-256color-bce tmux"

# unzip and compress with tar
alias tgx='tar -zxvf'
alias tbx='tar -jxvf'
alias tcx='tar -zcvf'

# find files with no known users
alias findorphens='find / -nouser -ls'

# links stuff
alias lsusb='system_profiler SPUSBDataType'
alias lsblk='diskutil list'

# matrix for fun
alias matrix='unimatrix'

# todolist
alias t='/usr/local/bin/todolist'
