! General urxvt preferences
urxvt*loginShell:true
urxvt*transparent:true
urxvt*shading:30
urxvt*background:Black
urxvt*foreground:White
urxvt*scrollBar:false
urxvt*scrollBar_right:true
urxvt*transpscrollbar:true
urxvt*saveLines:32767
urxvt*urgentOnBell: True
urxvt*visualBell: False
urxvt*skipScroll: True

! Fonts
urxvt*font: xft:Hack-Regular:pixelsize=13:antialias=true
urxvt*imFont: xft:Hack-Regular:pixelsize=15:antialias=true
urxvt*boldFont: xft:Hack-Bold:pixelsize=15:antialias=true
urxvt*italicFont: xft:Hack-Italic:pixelsize=13:antialias=true
urxvt*BoldItalicFont: xft:Hack-BoldItalic:pixelsize=15:antialias=true

! :Bind C-0, C-+ and C-= to activate small, medium, and big font size
URxvt.keysym.C-0: command:\033]710;xft:Menlo for Powerline:pixelsize=12\007
URxvt.keysym.C-minus: command:\033]710;xft:Menlo for Powerline:pixelsize=20\007
URxvt.keysym.C-equal: command:\033]710;xft:Menlo for Powerline:pixelsize=50\007

! Bind Home/End Key
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

! Make URLS Clickable
urxvt.perl-ext: default,matcher
urxvt.urlLauncher: google-chrome
urxvt.keysym.C-Delete: perl:matcher
urxvt.underlineURLs: true

Xft.antialias:           rgba
Xft.hinting:             true
Xft.hintstyle:           hintfull

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #4dbb1f
*color10: #358c11

!! yellow dark/light
*color3: #b58900
*color11: #987405

!! blue dark/light
*color4: #268db2
*color12: #1874b5

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3
