! General urxvt preferences
urxvt*loginShell:true
urxvt*transparent:true
urxvt*shading:30
urxvt*background:Black
urxvt*foreground:White
urxvt*scrollBar:false
urxvt*scrollBar_right:true
urxvt*transpscrollbar:true
urxvt*saveLines:32767
urxvt*urgentOnBell: True
urxvt*visualBell: False
urxvt*skipScroll: True
URxvt*buffered: True
! XTerm*terName: xterm-256color
URxvt*termName: rxvt-unicode

! For better copy and paste
URxvt.perl-ext-common: default,clipboard
URxvt.iso14755: False
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

! For highlight colors
URxvt*highlightColor:       #999999
URxvt*highlightTextColor:   #FFFFFF

! Fonts

! Menlo for Powerline Fonts
URxvt*font: xft:Menlo for Powerline:pixelsize=20
URxvt*imFont: xft:Menlo for Powerline:pixelsize=20
URxvt*boldFont: xft:Menlo Bold for Powerline:pixelsize=20
URxvt*italicFont: xft:Menlo Italic for Powerline:pixelsize=20
URxvt*BoldItalicFont: xft:Menlo Bold Italic for Powerline:pixelsize=20

! :Bind C-0, C-+ and C-= to activate small, medium, and big font size
URxvt.keysym.C-0: command:\033]710;xft:Menlo for Powerline:pixelsize=20\007
URxvt.keysym.C-minus: command:\033]710;xft:Menlo for Powerline:pixelsize=18\007
URxvt.keysym.C-equal: command:\033]710;xft:Menlo for Powerline:pixelsize=24\007

! Bind Home/End Key
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

! Make URLS Clickable
urxvt.perl-ext: default,matcher
urxvt.urlLauncher: google-chrome
urxvt.keysym.C-Delete: perl:matcher
urxvt.underlineURLs: true

Xft.antialias:           true
Xft.hinting:             true
Xft.rgba:                rgb
Xft.hintstyle:           hintfull
Xft.dpi:                 160

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #4dbb1f
*color10: #358c11

!! yellow dark/light
*color3: #b58900
*color11: #987405

!! blue dark/light
*color4: #268db2
*color12: #1874b5

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3
